.settings-setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.7;
}
.settings-setting .fa-bullhorn {
  margin-right: 14.5px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
}
@keyframes scalechange {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
    color: darkcyan;
  }
  100% {
    transform: scale(1);
  }
}
.settings__setting-column i:hover {
  animation: scalechange 1.5s ease-in-out infinite;
}
